

.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(data-count);
  font-size:40%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: black;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: white;
  border-style:solid;
}
.fa-circle {
  color:#DF0000;
}

.red-cart {
	color: #DF0000; background:white;
}
.yeei{
    color: white;
    background-image: url("../images/pizza.jpeg") ;
    background-size:cover;
    background-repeat: no-repeat;
    overflow: auto;
}
label{
    padding:5%
}
#order{
padding-left:-15%;

}
.well{
padding-left:30%;
padding-top: 10%;
padding-bottom: 10%;
}
#size{
    width: 150px;
    color:purple;
}
#order:hover{
    background-color:yellow;
}
.now{
width:700px;
height: 670px;
color: black;
background-color: white;
opacity: 0.7;
padding-left: 5%;
}
 .mare{
     background-color:darkorange;
     background-size:cover;
     
} 
#jpg{
    width: 250px;
    height: 250px;
}
#jpg:hover{
    zoom:1.5;
    overflow: hidden;
}
#con{
    color:black;
    font-style: italic;
}
.jumbotron{
    background-color: turquoise;
    opacity:1.0;
   width: 650px;
}
.one{
    padding-left: 30%;
    padding-top: 20%;
}
#img{
    border-radius: 70%;
    height: 90px;
}
 .card-footer{
    margin: auto;
    background-color: white;
  }  
#total_amount{
      width: 200px;
  }
.nav{
    width: 900px;
    float: right;
    border:1px solid black;
    
}
.size1{
display:flex;
text-align: center;
}
#sml{
    padding: 30px;
    width: 400px;
height: 300px;
}
#med{width: 400px;
    height: 300px;
    padding: 30px;
    width: 400px;
height: 300px;
}
#lrg{
    padding: 30px;
    width: 400px;
height: 300px;
}
.nav ul li{
    width:120px;
    float: left;
    margin: 10px auto;
    text-align: center;
    padding:3%;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    padding:20%;
}
.nav ul li a:hover {
    background-color:darkgreen;
    color:black;
}
